@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.active {
  background: #7f56d9 !important;
  border-radius: 6px !important;
  padding: 8px 12px !important;
  color: white !important;
}

.menu {
  flex-wrap: nowrap !important;
}
.menu :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
/* #pagination-first-page {
  visibility: hidden;
}
#pagination-last-page {
  visibility: hidden;
}
.sc-lmoLKH {
  visibility: hidden;
} */
/* .hgMgsX {
  visibility: hidden;
} */
/* .cxFtRn {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
#pagination-previous-page {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  font-size: 14;
  font-weight: 500;
  padding: 8px 14px !important;
  color: #344054;
  cursor: pointer;
  position: absolute;
  left: 24px;
}
#pagination-next-page {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  font-size: 14;
  font-weight: 500;
  padding: 8px 14px !important;
  cursor: pointer;
  color: #344054;
}
.MLcXO {
  width: inherit !important;
}

.cxFtRn {
  position: relative !important;
}
.hLjof {
  position: absolute !important;
  left: 50% !important;
  top: 35%;
  color: #344054;
  font-weight: 500;
  font-size: 14px;
}
